CREATE TABLE BOOK(BOOKID INT(20) PRIMARY KEY, Title VARCHAR(20), publishing_yr VARCHAR(20), publishing_name VARCHAR(20));

CREATE TABLE BOOK_AUTHORS(AUTHOR_NAME VARCHAR(20),BOOKID INT(20), FOREIGN KEY (BOOKID) REFERENCES book (BOOKID) ON DELETE CASCADE, PRIMARY KEY (BOOKID, AUTHOR_NAME));

CREATE TABLE LIBRARY_BRANCH (BRANCH_ID INTEGER PRIMARY KEY, BRANCH_NAME VARCHAR(50), ADDRESS VARCHAR(50));

CREATE TABLE BOOK_COPIES (NO_OF_COPIES INT, BOOKID INT(20) REFERENCES book (BOOKID) ON DELETE CASCADE, BRANCH_ID INT(20) REFERENCES LIBRARY_BRANCH (BRANCH_ID) ON DELETE CASCADE, PRIMARY KEY (BOOKID, BRANCH_ID));

CREATE TABLE CARD(CARD_NO INT PRIMARY KEY);

CREATE TABLE BOOK_LENDING (DATE_OUT DATE, DUE_DATE DATE, BOOKID INT(20) REFERENCES book (BOOKID) ON DELETE CASCADE, BRANCH_ID INT(20) REFERENCES LIBRARY_BRANCH (BRANCH_ID) ON DELETE CASCADE, CARD_NO INT(20) REFERENCES CARD (CARD_NO) ON DELETE CASCADE, PRIMARY KEY (BOOKID, BRANCH_ID, CARD_NO));

INSERT INTO PUBLISHER 
VALUES ('MCGRAW-HILL', 9989076587, 'BANGALORE'), ('PEARSON', 9889076565, 'NEWDELHI'),('RANDOM HOUSE', 7455679345, 'HYDRABAD'),('HACHETTE LIVRE', 8970862340, 'CHENAI'), ('GRUPO PLANETA', 7756120238, 'BANGALORE');

INSERT INTO book 
VALUES (1,'DBMS','JAN-2017'), (2,'ADBMS','JUN-2016'), (3,'CN','SEP-2016'),(4,'CG','SEP-2015'), (5,'OS','MAY-2016');

INSERT INTO LIBRARY_BRANCH VALUES (10,'RR NAGAR','BANGALORE'), (11,'RNSIT','BANGALORE'),(12,'RAJAJI NAGAR', 'BANGALORE'),(13,'NITTE','MANGALORE'),(14,'MANIPAL','UDUPI');

INSERT INTO BOOK_COPIES VALUES (10, 1, 10),(5, 1, 11),(2, 2, 12),(5, 2, 13),(7, 3, 14),(1, 5, 10),(3, 4, 11);

INSERT INTO CARD VALUES (100),(101),(102),(103),(104);

INSERT INTO BOOK_LENDING VALUES ('01-01-17','01-06-17', 1, 10, 101),('11-01-17','11-03-17', 3, 14, 101),('21-02-17','21-04-17', 2, 13, 101),('15-03-17','15-07-17', 4, 11, 101),('12-04-17','12-05-17', 1, 11, 104);

